{% extends 'layout.html' %}


{% block container_body %}
    <div class="row">
        <div class="col-md-7">
            {% if orders is defined %}
            <h2>Latest orders</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Time</th>
                </tr>
                </thead>
                {% for order in orders %}
                <tr>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.price }}</td>
                    <td>{% if order.time %}{{ order.time | date('m.d.Y H:i:s') }}{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            Orders not set
            {% endif %}
        </div>

        <div class="col-md-5">
            {% if indexes is defined %}
            <h2>Indexes</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last value</th>
                    <th>Change</th>
                    <th>Time</th>
                </tr>
                </thead>
                {% for index in indexes %}
                {% set isUp = index.percentageChange > 0 %}
                {% set isDown = index.percentageChange > 0 %}
                <tr>
                    <td>{{ index.fullName }}</td>
                    <td>{{ index.lastValue }}</td>
                    <td class="{% if isUp %}changes-up{% elseif isDown %}changes-down{% else %}no-changes{% endif %}">
                        {% if isUp %}<i class="glyphicon glyphicon-arrow-up"></i>{% endif %}
                        {% if isDown %}<i class="glyphicon glyphicon-arrow-down"></i>{% endif %}
                        {{ index.percentageChange }}
                    </td>
                    <td>{% if index.lastValueTime %}{{ index.lastValueTime | date('m.d.Y H:i:s')}}{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            Indexes not set
            {% endif %}
        </div>
    </div>
{% endblock %}